@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/utilities";

$baseW: 300px;
$contentW: 0.6; // Percent
$fieldPad: 8px;
$fieldButtonWrapperW: 220px;
$fieldBorderW: 1px;
$fieldFitW: $fieldButtonWrapperW - ($fieldPad*2) - ($fieldBorderW*2);
$sideMargin: 10%;
$sidePad: 20px;

@font-face {
  font-family: 'Montserrat';
  // in production, change paths here to ../
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background: black;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  //min-height: 420px;
  min-width: 280px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-smooth: always;
}

.widget-wrapper {
  overflow: hidden;
  height: 290px;
  position: relative;
  width: 100%;
}

img.bg {
  display: block;
  position: absolute;
  top: 0; right: -300px; bottom: auto; left: auto;
  height: auto; width: 100%;
  min-width: 1005px;
  z-index: 0;
}



h1,
.cta,
.button {
  font-weight: 700;
}

.cta {
  color: #fff;
  font-size: 0.8em;
  margin-top: 10px;
  .btn {
    background: #e71c20;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat';
    margin-top: 5px;
    padding: 5px 7px;
    text-transform: uppercase;
    &:hover {
      background: #fc6435; // lighten(#e71c20, 0.5);r
    }
    img.arw {
      display: inline-block;
      margin-left: 5px;
      height: 9px;
    }
  }
}


.content-wrapper {
  background: rgba(black, 0.5);
  padding: 20px $sidePad;
  position: absolute;
  top: 20px;
  height: auto; 
  width: percentage($contentW);
  z-index: 1;
}


h1.headline {
  color: #fc6435;
  font-family: 'Montserrat';
  text-transform: uppercase;
  span.em {
    color: #f94603;
    display: block;
    font-size: 1.3em;
  }
}

h2.sub-headline {
  color: white;
  font-size: 0.9em;
  margin-top: 15px;
  &.em {
    color: #fc6435;
  }
}

@media
screen and (min-width: 1300px) {
  img.bg {
    top: -50px;
  }
}

@media
screen and (min-width: 700px) {
  img.bg {
    right: auto;
  }
  .content-wrapper {
    width: 470px - ($sidePad*2) !important;
  }
  
  .cta {
    font-size: 1em;
    margin-top: 25px;
    position: absolute;
    z-index: 2;
    img.arw {
      height: 11px !important;
    }
  }
  
  h1.headline {
    font-size: 2.3em;
  }
  
  h2.sub-headline {
    font-size: 1.2em;
  }
}

@media
screen and (min-width: 350px) {
  .content-wrapper {
    padding: 20px $sidePad*1.5;
  }
  .content-wrapper {
    width: percentage($contentW*0.8);    
  }
}