$baseW: 300px;
$contentW: 0.6; // Percent
$fieldPad: 8px;
$fieldButtonWrapperW: 220px;
$fieldBorderW: 1px;
$fieldFitW: $fieldButtonWrapperW - ($fieldPad*2) - ($fieldBorderW*2);
$sideMargin: 10%;
$sidePad: 20px;

.feature-story {
  overflow: hidden;
  height: 290px;
  position: relative;
  width: 100%;
}

img.bg {
  display: block;
  position: absolute;
  top: auto; right: -300px; bottom: 0; left: auto;
  height: auto; width: 100%;
  min-width: 1005px;
  z-index: 0;
}

h1,
.cta,
.button {
  font-weight: 700;
}

.cta {
  color: #fff;
  display: none; // Hide the version of the cta that's outside #content-wrapper
  font-size: 0.8em;
  margin-top: 10px;
  .btn {
    background: #e71c20;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat';
    margin-top: 5px;
    padding: 5px 7px;
    text-transform: uppercase;
    &:hover {
      background: #fc6435; // lighten(#e71c20, 0.5);r
    }
    img.arw {
      display: inline-block;
      margin-left: 5px;
      height: 9px;
    }
  }
}


.content-wrapper {
  background: rgba(black, 0.5);
  padding: 20px $sidePad;
  position: absolute;
  top: 20px;
  height: auto; 
  width: percentage($contentW);
  z-index: 1;
  .cta {
    display: block;
  }
}


h1.headline {
  color: #fc6435;
  font-family: 'Montserrat';
  text-transform: uppercase;
  span.em {
    color: #f94603;
    display: block;
    font-size: 1.3em;
  }
}

h2.sub-headline {
  color: white;
  font-size: 0.9em;
  margin-top: 15px;
  &.em {
    color: #fc6435;
  }
}

@media
screen and (min-width: 600px) {
  img.bg {
    right: -100px !important;
  }
  h1.headline {
    font-size: 1.6em;
  }
}

@media
screen and (min-width: 900px) {
}

@media
screen and (min-width: 900px) {
  img.bg {
    right: 0px !important;
  }
  .content-wrapper {
    width: 470px - ($sidePad*2) !important;
    .cta {
      display: none;
    }
  }
  
  .cta {
    //background: rgba(yellow, 0.3);
    display: block;
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 170px;
    width: 220px;
    z-index: 2;
    img.arw {
      height: 11px !important;
    }
  }
  
  h1.headline {
    font-size: 2.3em;
  }
  
  h2.sub-headline {
    font-size: 1.2em;
  }
}

@media
screen and (min-width: 350px) {
  .content-wrapper {
    padding: 20px $sidePad*1.5;
    width: percentage($contentW*0.8); 
  }
}