/*
Site: VFN Platform
Type: Responsive media
Author: Fernando Medina
URL: 

### TABLE OF CONTENTS ############################

EXAMPLE Media Queries for Responsive Design. Theses examples override the primary ('mobile first') styles.
Modify as content requires.


################################################*/

/* Style adjustments for viewports that meet the condition */
@media only screen and (min-width: 561px) {
 
  #page-wrapper {
    border: 1px solid red;
    text-align: center;
    bottom: 0;
    height: 100%;
  }

  #btn-mobile-menu {
    display: none;
  }
  body, html {
      overflow: inherit;
    line-height: $defaultLineHeight;
    margin:0;
  }
  #container, #logo-vfn, header #user, footer {
    width:94%!important;
    display: block;
    max-width: 840px;
    margin: 0 auto;
  
  }
  #logo-vfn {
    background-position: left top;
    border: 1px solid green;
  }

  header #user {
    display: block;
    margin-top: 6px;
    padding-right: -2%;
    text-align: right;
    padding-right: 0;
    width: 94%;
    position: absolute;
    top:0;
    margin: 0 auto;
  }
  footer {
    padding:  8px 0px 10px 0;
  }
  .grid .email,
  .grid .profile-created {
    display:block;
  }

  #container {
    position: relative;
    height: 100%;
    margin-top: 20px;
    
     #nav-site {
       position:absolute;
       left: 34px!important;
       display: block;
       position: absolute;
       bottom: 25px;
       width: 190px;
       font-weight: lighter;
       background: rgba(0,0,0,0.4);  
       @include border-radius($crMd);
       border: 0px;
       ul {
         left: 0;
         top: 0;
         li {
          border-bottom: 1px solid #111;
          border-top: 1px solid #333;

           &:first-child {
             border-top: 0px;
           }

           &:last-child {
            border-bottom: 1px solid #333;

             a {
               border-bottom: 1px solid #111;
             }
           }
        }    
       }
     }
  }

  #container, #logo-vfn, header #user {
    width: 94%;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 2%;
  }
  #logo-vfn {
     background-position: left top!important;
   }
   header #user {
     display: block!important;
     margin-top: 6px;
     padding-right: -2%;
     text-align: right;
     padding-right: 0;
     width: 94%;
  }
  .grid .email,
  .grid .profile-created {
    display:block;
  }
  #nav-site {
    top: 5px;
  }  
  #content {
    top: 5px;
    bottom: 25px;
    padding: 0;
    width: auto;
  }
  #title {
    position: absolute;
    left: 34px;
  }  
  #title h1{
    line-height: inherit;
    top: 1.5%;
  }  
  header #logo-vfn {
    position: absolute;
    margin-left: 12%;
    width: 840px;
  }
}
 

/* Style adjustments for high resolution devices  */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
} 
