/*
Site: VFN Platform
Type: Sitewide Navigation
Author: Fernando Medina
URL: 

### TABLE OF CONTENTS ############################

  NAV Heder
  NAV Main

################################################*/

//////////CAUTION//////////////////////////////////////////
//   Theses are the primary ('mobile first') styles.    //
//  Modify other devices in "_media-responsive.scss"   //
////////////////////////////////////////////////////////

@import "compass";
@import "compass/css3";
@import "compass/utilities";

ul.nav-menu {
  display: inline-block;
  z-index: 100;

  & > li {
    z-index: 200;
  }

  li {
    display: inline-block;
    position: relative;
//    border-bottom: 1px solid #888;
//    border-bottom: 1px solid #ff0000;
    float: left;

    a {
      border-left: transparent 1px solid;
      border-right: transparent 1px solid;
      display: block;
      padding: 0 10px;
      color: #333;
      //color: black;
      white-space: nowrap;
      text-align: left;
      //text-transform: uppercase;
      //font-weight: bold;
      //font-size: .7em;

      &:hover {
        background-color: rgba(#fff, 0.9);
        border-left-color: #bbb;
        border-right-color: #bbb;
        color: $activeAColor;
        .submenu-arrow {
          border-left-color: $activeAColor;
        }
      }
    }

    &.active > a {
      color: $activeAColor;
    }

    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      @include box-shadow(#000 0 0 5px);

      li {
        //border-bottom: 1px solid red;
        display: block;
        float: none;
        line-height: 25px;

        ul {
          top: 0;
          left: 100%;
        }

        a {
          background-color: rgba(#fff, .9);
          padding: 0 10px;
          &:hover {
            background: rgba(#fff, 0.95);
          }

          .submenu-arrow {
            $arrow-size: .4em;
            position: absolute;
            top: .5em;
            right: .4em;
            display: block;
            width: 0; 
            height: 0; 
            // Below styles actually create the arrow shape
            border-top: $arrow-size solid transparent;
            border-bottom: $arrow-size solid transparent;
            border-left: $arrow-size solid #999;
          }
        }
      }
    }
  }

  li:hover > ul {
    display: block;
  }


  ul {
    z-index: 105;
    ul {
      z-index: 110;
      ul {
        z-index: 115;
      }
    }
  }
}

ul.nav-breadcrumbs {
  li {
    display: inline;
    padding: 0 .5em 0 0;

    a {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:after {
      content: ">";
      font-weight: bold;
      padding-left: .5em;
      vertical-align: -.1em;
    }

    &:last-child:after {
      content: "";
    }
  }
}



#matched-entities {
  min-height: 100%;
}

div.entity-item {
  padding: 10px;
}

.card {
  display: inline-block;
  scrolling: no;
  seamless: true;
  frameborder: 0;
  width: 320px;
  height: 620px;
  border-collapse: collapse;
}

nav li {
  cursor: pointer;
}

nav li:hover {
  color: #ffaa00;
}

a.nav-menu-button, {
  padding: 0 5px;
  width: 44px;
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 60px;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 5px;
  //right:20px;
  z-index: 101;
  border: 1px solid #555;
  -moz-box-shadow: inset 0px 1px 0px 0px #999;
  -webkit-box-shadow: inset 0px 1px 0px 0px #999;
  box-shadow: inset 0px 1px 0px 0px #999;
  background-color: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #000;
  border-color: #000 #000 #555 #000;
  display: inline-block;
  color: #ddd!important;
  text-decoration: none;
  text-shadow: 1px 1px 0px #444;
  background: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}


input#menu[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#btn-mobile-menu {
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
  width: 44px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 34px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 101;
  border: 1px solid #555;
  -moz-box-shadow: inset 0px 1px 0px 0px #999;
  -webkit-box-shadow: inset 0px 1px 0px 0px #999;
  box-shadow: inset 0px 1px 0px 0px #999;
  background-color: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #000;
  border-color: #000 #000 #555 #000;
  display: inline-block;
  color: #ddd!important;
  text-decoration: none;
  text-shadow: 1px 1px 0px #444;
  background: rgba(0, 0, 0, 0.3);
}

#nav-site {
  position: absolute;
  left: -100%;
  width: 65%;
  display: block;
  bottom: 0px;
  overflow: hidden;
  box-shadow: inset -33px 0px 52px -30px rgba(0, 0, 0, 0.45);
  background-color: #222;
  top: 0;
  bottom: 0;
  ul {
    margin: 44px 0 0 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    li {
      position: relative;
    }
    a {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid black;
      text-decoration: none;
      display: block;
      height: 44px;
      line-height: 44px;
      font-family: "Lato", Helvetica, Arial, sans-serif;
      color: #ededed;
      padding-left: 10px;
      transition: all 0.9s linear;
      &:last {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
    .active a {
      color: #B93632;
      background-color: #1B1B1B;
      outline: 0;
    }
    li:not(.active):hover a {
      color: #eee;
 //     background-color: #1B1B1B;
      background-color: green !important;
    }
  }
  ul > li {
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0;
    &:hover {
      //box-shadow: inset 0 0 0 0.15em rgba(255, 255, 255, 0.45);
    }
  }
}

#nav-site:before {
  background: #222;
}

.lt-ie9 #nav-site  a {
  filter: none;
}

label:after {
  content: "\2261";
  font-size: 1.8em;
}

#btn-mobile-menu:hover,
input:checked ~ #btn-mobile-menu {
  color: #000;
}

input:checked ~ nav[role="off-canvas"] {
  opacity: 1;
  width: 75%;
  left: 0!important;
  ul > li {
    &:hover {
      @include filter-gradient(#a14c4c, #8f1313, vertical); // IE6-9
    }
    &:after {
      position: absolute;
      right: .25em;
      font: normal 50px sans-serif;
      color: #333;
    }
  }
  li a {
    padding: 0;
  }
}

input:checked ~ #page-wrapper {
  margin-left: 65%;
  width: 65%;
  margin-right: -65% + 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: 0;
  header {
    position: absolute;
    top: -45px;
    left: 0;
    height: 45px;
    #btn-mobile-menu {
      box-shadow: 0px 0px 0px transparent;
      color: #333!important;
    }
    #logo-vfn {
      width: 700px;
    }
  }
  #container {
    top: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    bottom: 0;
    border-left: 1px solid #333;
    border-top: 1px solid #444;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
  }
}
