/********************************************* UTILITY STYLES */

.hilite {
  background: yellow;
}

#temp {
  background: rgba(white, 0.2);
  height: 1600px;
  margin-left: 20px;
  padding: 20px;
  width: 200px;
  
}

#events-wrapper {
  @include border-radius(7px);
  background: #333;
  height: 200px;
  top: auto; left: 10px; right: 10px; bottom: 10px;
  position: absolute;
  #events {
    color: #090;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: .75em;
    padding: 10px;
    top: 10px; right: 10px; bottom: 50px; left: 10px;
    overflow-y: auto;
    position: absolute;
    p {
      margin-bottom: 5px;
    }
  }
  #buttons-wrapper {
    @include border-radius(5px);
    top: auto; left: 10px; right: 10px; bottom: 10px; height: 20px;
    position: absolute;
    a.btn {
      @include border-radius(3px);
      background-color: rgba(white, 0.3);
      color: white;
      font-family: Tahoma;
      font-size: .8em;
      display: inline-block;
      margin-right: 5px;
      padding: 3px 10px;
    }
  }
}